$breakpoints: (
	'xs': 0,
	'sm': 480px,
	'md': 720px,
	'lg': 960px,
	'xl': 1200px,
);

@mixin xs {
	@media (min-width: map-get($breakpoints, 'xs')) {
		@content; // Это все параметры, что указаны внутри фигурных скобок миксина при его использовании
		// Т.Е миксин xs представляет из себя все что указано вручную (все помимо @content) + то что будет указано при его использовании (@content)
	}
}
@mixin sm {
	@media (min-width: map-get($breakpoints, 'sm')) {
		@content; // Это все параметры, что указаны внутри фигурных скобок миксина при его использовании
		// Т.Е миксин xs представляет из себя все что указано вручную (все помимо @content) + то что будет указано при его использовании (@content)
	}
}
@mixin md {
	@media (min-width: map-get($breakpoints, 'md')) {
		@content; // Это все параметры, что указаны внутри фигурных скобок миксина при его использовании
		// Т.Е миксин xs представляет из себя все что указано вручную (все помимо @content) + то что будет указано при его использовании (@content)
	}
}
@mixin lg {
	@media (min-width: map-get($breakpoints, 'lg')) {
		@content; // Это все параметры, что указаны внутри фигурных скобок миксина при его использовании
		// Т.Е миксин xs представляет из себя все что указано вручную (все помимо @content) + то что будет указано при его использовании (@content)
	}
}
@mixin xl {
	@media (min-width: map-get($breakpoints, 'xl')) {
		@content; // Это все параметры, что указаны внутри фигурных скобок миксина при его использовании
		// Т.Е миксин xs представляет из себя все что указано вручную (все помимо @content) + то что будет указано при его использовании (@content)
	}
}

@mixin breakpoint($bp: 0) {
	@media (min-width: $bp) {
		@content;
	}
}

.responsive-test {
	@include xs {
		// При минимальном размере экрана делать цвет текста красным
		color: red;
	}
	@include sm {
		// При маленьком размере экрана делать цвет текста синим
		color: blue;
	}
	@include md {
		// При среднем размере экрана делать цвет текста зеленым
		color: green;
	}
	@include lg {
		// И т.д
		color: purple;
	}
	@include xl {
		color: orange;
	}
	@include breakpoint(1400px) {
		color: black;
	}
}
